section {
  background-color: #292929;
  width: 1366px;
}
.filter {
  display: flex;
  justify-content: space-between;
}
.filter_rides {
  color: #d0cbcb;
  width: 1366px;
  display: flex;
  margin: 29px var(--left-margin);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
.active {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 6px;
  font-weight: 600;
}
.filter_rides div {
  margin-right: 44px;
}
.filter_location {
  display: flex;
  position: relative;
}
.filter_location svg {
  margin-top: 35px;
  margin-right: 8px;
}
.filter_location > div {
  color: #f2f2f2;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-right: 47px;
  margin-top: 32px;
}
.filter_location:hover .dropdown-content {
  display: block;
}
