section {
  background-color: #292929;
  max-width: 1366px;
  width: 100%;
}
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filter_rides {
  color: #d0cbcb;
  display: flex;
  margin: 29px var(--left-margin);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
.active {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 6px;
  font-weight: 600;
}
.filter_rides div {
  margin-right: 44px;
  cursor: pointer;
}
.trigger {
  display: flex;
  cursor: pointer;
}
.trigger > svg {
  margin-top: 35px;
  margin-right: 8px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.trigger {
  color: #f2f2f2;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-right: 56px;
}
.trigger span {
  margin: 33px 56px 31px 0px;
}
.filter_location:hover .dropdown_content {
  display: block;
}
