* {
  margin: 0;
  padding: 0;
}
:root {
  --nav-background: #101010;
  --card-background: #171717;
  --body-background: #e5e5e5;
}
.App {
  background-color: var(--body-background);
  height: 100vh;
}
